.hero {
  height: 85vh;
  background: url("https://images.unsplash.com/photo-1542838132-92c53300491e")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.45);
  padding: 35px;
  border-radius: 8px;
  text-align: center;
  color: white;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 14px;
}

.hero-content button {
  margin-top: 18px;
  padding: 10px 22px;
  border: none;
  background: #2e7d32;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
